# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/

# ML artifacts
*.pkl
ml/model_metadata.json

# Environment
ml/.env
.env

# Certificates
*.pem
ml/certs/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node
node_modules/